In [2]:
import numpy as np
import pandas as pd
import pickle
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from keras.models import Sequential, save_model
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras.utils import np_utils
from keras import optimizers
import keras
from IPython.display import display as display_dataframe
# from keras.applications.xception import Xception
# from keras.applications.resnet50 import ResNet50
# from keras.applications.vgg16 import VGG16
# from keras.applications.vgg19 import VGG19
# from keras.applications.inception_v3 import InceptionV3
# from keras.applications.mobilenetv2 import MobileNetV2
# from keras.applications.densenet import DenseNet121
import cv2
import os
import seaborn as sns
# from keras.preprocessing.image import load_img, img_to_array


import warnings
warnings.filterwarnings('ignore')

def display_all_in_a_list(image_list, titles=None, scale_factor=1):
    '''
    image_list: a single image, or a list of images
    -----------------------------------
    uses matplotlib to display all images in 'image_list' in the same cell
    '''
    plt.rcParams['figure.figsize'] = [10*scale_factor, len(image_list)*5*scale_factor]
    _, axes = plt.subplots(len(image_list), 1)
    if len(image_list) == 1:
        axes.imshow(image_list[0])
        if titles is not None:
            axes.set_title(titles[0])
    else:
        for index in range(len(image_list)):
            axes[index].imshow(image_list[index])
            if titles is not None:
                axes[index].set_title(titles[index])
    plt.show()
    
def get_single_image(something, margin = 1):
    #check for correct input shape
    if len(something.shape) > 3:
        raise Exception("Input should be of format (x, y, channels). Got {}".format(something.shape))
    
    #calculate the output shape of our returned image
    channels = something.shape[2]
    rows = int(channels**0.5)
    columns = int(channels / rows)
    while channels % rows != 0:
        rows -= 1
    while channels % columns != 0:
        columns += 1
    print("{} rows and {} columns of shape {}.".format(rows, columns, something.shape[:2]))
    
    margin = margin
    value = 255
        
    # stack the columns
    listy = [something[:, :, i*columns] for i in range(rows)]
    for i in range(rows):
        for j in range(1, columns):
            if margin:
                listy[i] = np.append(listy[i], np.array([[value]*margin]*listy[i].shape[0]), axis=1)
            listy[i] = np.append(listy[i], something[:, :, i*columns + j], axis=1)
    
    #stack the rows
    image = listy[0]
    for i in range(1, rows):
        if margin:
            image = np.append(image, np.array([[value]*listy[i].shape[1]]*margin), axis=0)
        image = np.append(image, listy[i], axis=0)
    
    return image

Using TensorFlow backend.

# load data

In [3]:
#vgg can't take input of 28x28 so we shall resize all our images
pickle_folder = "pickle files"
input_shape=(32, 32, 1)
data = pickle.load(open('data.pickle', 'rb'))
print("Data of format:")
for ch in data:
    print("data_length(" + ch + ") =", len(data[ch]))

#no. of classes
classes = len(data.keys())

Data of format:
data_length(ङ) = 2000
data_length(य) = 2000
data_length(छ) = 2000
data_length(म) = 2000
data_length(ड) = 2000
data_length(ध) = 2000
data_length(द) = 2000
data_length(ठ) = 2000
data_length(प) = 2000
data_length(ज्ञ) = 2000
data_length(र) = 2000
data_length(श) = 2000
data_length(ह) = 2000
data_length(न) = 2000
data_length(भ) = 2000
data_length(फ) = 2000
data_length(च) = 2000
data_length(ज) = 2000
data_length(ष) = 2000
data_length(ण) = 2000
data_length(व) = 2000
data_length(घ) = 2000
data_length(ढ) = 2000
data_length(स) = 2000
data_length(क्ष) = 2000
data_length(ट) = 2000
data_length(ब) = 2000
data_length(झ) = 2000
data_length(थ) = 2000
data_length(क) = 2000
data_length(ल) = 2000
data_length(ञ) = 2000
data_length(ग) = 2000
data_length(त्र) = 2000
data_length(ख) = 2000
data_length(त) = 2000

# Rearranging data in input-output format

In [4]:
file = "class_numerals_{}.pickle".format(classes)
if file in os.listdir(pickle_folder):
    class_numerals = pickle.load(open(os.path.join(pickle_folder, file), 'rb'))
    print("Unpickled")
else:
    class_numerals = {i:list(data.keys())[i] for i in range(classes)}
    pickle.dump(class_numerals, open(os.path.join(pickle_folder, file), 'wb'))
    print("Error. Incompatible. Pickled new file:", file)
def character_to_encoding(char, classes=classes):
    for i in class_numerals:
        if class_numerals[i] == char:
            return np_utils.to_categorical(i, classes)

def encoding_to_character(encoding):
    return class_numerals[encoding.argmax()]

Unpickled

In [5]:
X = []
y = []

for ch in data:
    X += data[ch]
    y += [ch] * len(data[ch])
    
#resizing input image and preprocessin
X = np.array(list(map(lambda x: cv2.resize(x/255, (input_shape[0], input_shape[1])).reshape((input_shape[0], input_shape[1], 1)), X)))
y_ = np.array(list(map(lambda x: character_to_encoding(x, classes), y)))

print(X.shape, y_.shape)

(72000, 32, 32, 1) (72000, 36)

# Train-Test split

In [6]:
train_ratio = 0.8
X_train, X_test, y_train, y_test = train_test_split(X, y_, train_size=0.8, random_state=20, shuffle=True, stratify=y)

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((57600, 32, 32, 1), (57600, 36), (14400, 32, 32, 1), (14400, 36))

# CNN

In [7]:
import tensorflow as tf
from keras import backend as k
 
###################################
# TensorFlow wizardry
config = tf.ConfigProto()
 
# Don't pre-allocate memory; allocate as-needed
config.gpu_options.allow_growth = True
 
# Only allow a total of half the GPU memory to be allocated
# config.gpu_options.per_process_gpu_memory_fraction = 0.5
 
# Create a session with the above options specified.
k.tensorflow_backend.set_session(tf.Session(config=config))


print("GPUs:", k.tensorflow_backend._get_available_gpus())

print("input shape:", input_shape)
print("classes:", classes)

def get_model_memory_usage(batch_size, model):
    import numpy as np
    from keras import backend as K

    shapes_mem_count = 0
    for l in model.layers:
        single_layer_mem = 1
        for s in l.output_shape:
            if s is None:
                continue
            single_layer_mem *= s
        shapes_mem_count += single_layer_mem

    trainable_count = np.sum([K.count_params(p) for p in set(model.trainable_weights)])
    non_trainable_count = np.sum([K.count_params(p) for p in set(model.non_trainable_weights)])

    total_memory = 4.0*batch_size*(shapes_mem_count + trainable_count + non_trainable_count)
    gbytes = np.round(total_memory / (1024.0 ** 3), 3)
    return gbytes

GPUs: []
input shape: (32, 32, 1)
classes: 36

loading the model

In [8]:
path_to_model = "pickle files/36/Lenet_ब_य_ञ_त_क्ष_फ_ठ_स_छ_ज्ञ_च_ण_द_र_ट_म_प_क_ङ_भ_न_ल_ह_त्र_ज_ख_झ_थ_घ_श_ष_ग_व_ढ_ड_ध.h5"
model = keras.models.load_model(os.path.join(path_to_model))

In [9]:
temp_test = X_test, y_test
# temp_test = X_train, y_train
a = model.predict_classes(temp_test[0])

In [10]:
g = lambda n: [0]*n + [1] + [0]*(35-n)
X_test, y_test = temp_test
y_pred = np.array(list(map(g, a)))
y_pred = np.array(list(map(encoding_to_character, y_pred)))
y_test = np.array(list(map(encoding_to_character, y_test)))
print(y_test.shape, y_pred.shape)

falsify = ~(y_test == y_pred)
y_pred = y_pred[falsify]
y_test = y_test[falsify]
X_test = X_test[falsify]
X_test = X_test.reshape(X_test.shape[:-1])
print(y_test.shape, y_pred.shape, X_test.shape)

(14400,) (14400,)
(683,) (683,) (683, 32, 32)

In [11]:
for character in np.unique(y_test):
    print(character, sum(y_test == character))
    wrongly_predicted = pd.Series(y_pred[y_test == character]).value_counts().argmax()
    display_dataframe(pd.DataFrame(pd.Series(y_pred[y_test == character]).value_counts()).transpose())
#     display_all_in_a_list(X_test[(y_test==character) & (y_pred==wrongly_predicted)])
#     print("\n\n\n\n\n\n")

क 5

   फ  ठ
0  4  1

क्ष 23

   भ  स  न  श  द  ब  ष  म  व  क  थ  ह
0  6  4  2  2  2  1  1  1  1  1  1  1

ख 19

   स  झ  श  म  य  ब  त्र  ह  छ
0  5  4  2  2  2  1    1  1  1

ग 8

   श  त्र  न  भ
0  5    1  1  1

घ 44

    ध   प  ब  ग  श  छ  थ
0  27  11  2  1  1  1  1

ङ 27

    ड  ह  ख  श  व  छ  द
0  20  2  1  1  1  1  1

च 15

   प  थ  ध  र
0  8  4  2  1

छ 29

   घ  प  ह  द  ढ  ध  क्ष  व  ङ  क  म
0  8  5  4  4  2  1    1  1  1  1  1

ज 18

   न  ञ  ल  ग  ब  त्र  ङ  प  ठ  ज्ञ
0  5  4  2  1  1    1  1  1  1    1

ज्ञ 20

   न  क्ष  श  ज  ल
0  7    5  5  2  1

झ 13

   क  भ  म  स
0  5  5  2  1

ञ 14

   त्र  भ  ज  क्ष  न
0    6  3  3    1  1

ट 10

   ठ  ढ  त  य
0  6  2  1  1

ठ 4

   त  न  छ
0  2  1  1

ड 25

   ङ  ह  ढ  ज  ठ  श  न  घ  छ
0  7  5  5  2  2  1  1  1  1

ढ 16

   ठ  द  क  न
0  7  7  1  1

ण 14

   ग  श  प  न  घ
0  5  4  2  2  1

त 5

   न  ल  त्र
0  3  1    1

त्र 13

   न  ञ  व  ज  त  ब  भ  प
0  3  2  2  2  1  1  1  1

थ 45

    ध  य  च  घ  ब  प  श
0  17  9  7  4  3  3  2

द 27

    ढ  व  छ  ठ  ट  ख
0  13  6  3  2  2  1

ध 14

   थ  घ  श  भ
0  7  4  2  1

न 6

   त  ल  ब  भ
0  2  2  1  1

प 6

   फ  ष  छ  य  न  ण
0  1  1  1  1  1  1

फ 14

   क  ण  प  थ  च
0  9  2  1  1  1

ब 44

    न   व  ष  ह  क्ष  घ  प  ध  द  ज्ञ  ठ  झ
0  13  12  4  3    3  2  2  1  1    1  1  1

भ 31

   म  स  ल  झ  ञ  क  क्ष  फ  त्र  च  घ  ण  य
0  9  4  3  3  2  2    2  1    1  1  1  1  1

म 33

    भ  स  न  क  य  त  श  फ  क्ष
0  10  8  7  2  2  1  1  1    1

य 27

   थ  प  घ  व  ग  श  ध  र  ण
0  9  5  4  3  2  1  1  1  1

र 8

   ङ  ट  छ  व  ढ  द
0  2  2  1  1  1  1

ल 18

    न  त  क्ष  ब  ट  स
0  12  2    1  1  1  1

व 24

   ठ  त  प  न  ब  ष  ल  य  च
0  7  5  5  2  1  1  1  1  1

श 5

   क्ष  ण  स  थ
0    2  1  1  1

ष 24

    प  घ  व  ण  श  म  क  य  फ  झ
0  10  3  3  2  1  1  1  1  1  1

स 20

   म  न  र  व  क  क्ष  त  त्र  ष  ह
0  5  3  2  2  2    2  1    1  1  1

ह 15

   ट  ड  ठ  ढ  छ  व  ङ  क  ष
0  5  2  2  1  1  1  1  1  1